.wrapper {
  display: grid;
  height: 100dvh;
  grid-template: 1fr 25% / auto;
}

.topBlock {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 24px 0;
  align-items: center;
}

.hole {
  background: #333;
  height: min(calc(100% - 24px * 2), calc(100dvw - 12px * 2));
  position: absolute;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.bottomBlock {
  padding: 0 12px 24px;
  display: flex;
  justify-content: center;
}

.form {
  height: 100%;
  width: min(100%, 640px);
}

.formInner {
  display: grid;
  height: 100%;
  grid-template: 1fr auto / auto;
  gap: 12px;
}

.textarea {
  padding: 12px;
  border: 1px solid #333;
  color: #333;
  resize: none;
  width: 100%;
  height: 100%;
}

.formFooter {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  border: 1px solid #333;
  height: 36px;
  width: 120px;
  border-radius: 4px;
  color: #333;
}

.iconButtonsWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 12px;
}
